<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="E968Win"
			FileName="[ConfigPath]\..\E968.Win\Bin\EasyTest\E968.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v11.2, Version=11.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="E968Web"
			Url="http://localhost:4030"
			PhysicalPath="[ConfigPath]\..\E968.Web"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v11.2, Version=11.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" Name="E968" DBName="E968_v11.2_EasyTest" />
	</TestDatabases>
</Options>